@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

body {
    padding: 14px;
    background-color: #171717;
}

main>*:not(:last-child) {
    margin-bottom: .8em;
}