.link {
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    color: springgreen;
  }

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: springgreen;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  }

  &:hover::before {
    width: 100%;
  }
}
